* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

:root {
    --w: 16px;
}

.atom {
    width: var(--w);
    height: var(--w);
    border-radius: 50%;
    background-image: radial-gradient(white 0%, white 33%, black 33%, black 100%);
    position: absolute;
    top: calc(var(--w) / -2);
    left: calc(var(--w) / -2);
    overflow: visible;
    color: gray;
    cursor: pointer;
    font-size: calc(var(--w) * 2);
}

.selected-atom {
    background-image: radial-gradient(white 0%, white 33%, brown 33%, brown 100%);
}

.bond {
    border-top: 2px dotted black;
    position: absolute;
}